* {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
}

body{
  margin: 0;
}
header{
  text-align: center;
  margin: 3em;
}

main {
  display: flex;
  flex-wrap: wrap;
  width: 500px;
  margin: 0 auto;
  height: 500px;
  justify-content: space-between;
}

.grid {
  width: 500px;
  height: 500px;
  display: flex;
  flex-wrap: wrap;
}

.grid div {
  border: .5px solid rgb(229, 226, 226); 
  display: inline-block;
  aspect-ratio: 2;
}

.grid div.snake {
  background-image: url('../assets/snake\ head.jpeg');
  background-repeat: no-repeat;
  background-size: contain;
}

.grid div.food {
  background-color: red;
}