* {
  box-sizing: border-box;
  font-family:'Kalam', cursive;
  font-size: 16px;
}

h1 {
font-size: 2em;
}


body{
  margin: 0;
  background-image: url('../assets/forest\ night.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100vh;
}

header{
  text-align: center;
  margin: 4em;
}

main {
  display: flex;
  flex-wrap: wrap;
  width: 600px;
  margin: 0 auto;
  height: 600px;
  justify-content: space-between;
}

#grid-header {
  width: 600px;
  height: 50px;
  margin: 0 auto;
  background-color: rgb(103, 61, 61);
}

.grid {
  width: 600px;
  height: 600px;
  display: flex;
  flex-wrap: wrap;
}

.grid div {
  border: .5px solid rgb(229, 226, 226); 
  display: inline-block;
  aspect-ratio: 1;
  background-color: rgb(173, 216, 230, 0.6)
}

.grid div.snake {
  background-image: url('../assets/snake.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.grid div.food {
  background-image: url('../assets/frog-cartoon.jpeg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.score {
  text-align: center;
  position: relative;
  float: left;
  padding-top: 15px;
  padding-left: 20px;
}

.high-score {
  text-align: center;
  position: relative;
  float: right;
  padding-top: 15px;
  padding-right: 60px;
}

.yellow {
  background-image: url('../assets/yellow\ snakeskin.jpeg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 30%;
}

.red {
  background-image: url('../assets/red\ snakeskin.jpeg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 30%;
}
